/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

._wp-block-mailster-form-wrapper {
	max-width: 840px;
	margin: 0 auto;
	box-shadow: 0 1.5vw 3vw -0.7vw rgb(0 0 0 / 13%);
	width: 100%;
	height: 200px;
	column-gap: 0.5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-direction: column;
}

.mailster-form-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.wp-block-mailster-form-wrapper {
	box-shadow: 0 1.5vw 3vw -0.7vw rgb(0 0 0 / 13%);
	box-shadow: 0 1.5vw 3vw -0.7vw rgb(0 0 0 / 99%);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
		rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
		rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	background-color: #fff;
	width: 50rem;

	> button {
		z-index: 100;
		position: relative;
	}
	button.style-form {
		z-index: 0;
		visibility: hidden;
		position: absolute;
		right: 0;
		top: -51px;
	}
}
.editor-styles-wrapper:hover {
	button.style-form {
		visibility: visible;
	}
}

.form-select-modal {
	.block-editor-block-preview__container .is-root-container {
		max-width: 100%;
		transform: scale(0.95);
		pointer-events: none;
		margin: auto;
	}
	.block-editor-block-preview__container .wp-block {
		max-width: 100%;
	}
	.block-editor-block-preview__container.editor-styles-wrapper
		button.style-form {
		display: none;
	}
	.components-card {
		cursor: pointer;
		.components-card__body {
			min-height: 15vw;
		}
	}
	.components-card:hover {
		border: 1px solid var(--wp-admin-theme-color);
	}
}

.editor-styles-wrapper.wp-embed-responsive {
	.wp-block-mailster-form-wrapper {
		max-width: 100%;
		transform: scale(0.95);
		pointer-events: none;
		margin: auto;
	}
	.wp-block {
		max-width: 100%;
	}
	// .block-editor-block-preview__container.editor-styles-wrapper
	// 	button.style-form {
	// 	display: none;
	// }
}
