/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * It' used to define the general style of the form. Used "every were"
 */

.mailster-block-form-type-popup,
.mailster-block-form-type-bar,
.mailster-block-form-type-side {
	position: fixed;
	display: none;
	pointer-events: none;
	justify-content: center;
	z-index: 100000;
	.mailster-block-form {
		width: 50vw;
		max-width: 98vw;
		background-color: #fff;
	}
}
.mailster-block-form-type-popup {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.mailster-block-form-type-bar {
	bottom: unset;
	background-color: #fff;
	.mailster-block-form {
	}
}
@media only screen and (max-width: 800px) {
	.mailster-block-form-type-popup,
	.mailster-block-form-type-bar {
		.mailster-block-form {
			width: 70vw;
		}
	}
}
@media only screen and (max-width: 400px) {
	.mailster-block-form-type-popup,
	.mailster-block-form-type-bar {
		.mailster-block-form {
			width: 95vw;
		}
	}
}

.mailster-block-form-type-popup {
	justify-content: center;
	align-items: center;
	__background-color: rgba(0, 0, 0, 0.5);
}
.mailster-block-form-type-popup.active {
	pointer-events: inherit;
	display: flex;
}
.mailster-block-form-type-bar.active {
	pointer-events: inherit;
	visibility: visible;
	opacity: 1;
	right: 0;
	left: 0;
	top: 0;
	display: flex;
}
.mailster-block-form-type-side.active {
	pointer-events: inherit;
	visibility: visible;
	opacity: 1;
	align-items: flex-end;
	justify-content: flex-end;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	pointer-events: none;
}

.mailster-block-form-type-bar {
	.mailster-block-form {
		width: 100vw;
	}
}
@supports (backdrop-filter: blur(6px)) {
	.mailster-block-form-type-popup {
		background-color: rgba(0, 0, 0, 0.6);
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px);
	}
}

.mailster-block-form-type-content .mailster-block-form-close,
.mailster-block-form-type-other .mailster-block-form-close {
	display: none;
}
.mailster-block-form-type-popup .mailster-block-form-close {
	transform: translate(50%, -50%);
}
.mailster-block-form-type-bar .mailster-block-form-close {
	transform: translate(150%, 120%);
}
.mailster-block-form-type-side .mailster-block-form-close {
	left: 0;
	right: auto;
	transform: translate(-50%, -50%);
}

.wp-block-mailster-form-outside-wrapper-placeholder {
	_background-color: #fafafa;
	_min-height: 200px;
	_justify-content: center;
	_align-items: center;
	_font-style: italic;
	_outline: 3px dotted #ccc !important;
}
.wp-block-mailster-form-outside-wrapper-placeholder *,
.wp-block-mailster-form-outside-wrapper-placeholder *::before,
.wp-block-mailster-form-outside-wrapper-placeholder *::after {
	pointer-events: none !important;
}
.wp-block-mailster-form-outside-wrapper-placeholder label,
.wp-block-mailster-form-outside-wrapper-placeholder .mailster-label {
}
.wp-block-mailster-form-outside-wrapper-placeholder.active {
	display: flex;
}
.wp-block-mailster-form-outside-wrapper-placeholder .mailster-block-form-close {
	display: none;
}
.wp-block-mailster-form-outside-wrapper-placeholder.has-error {
	box-shadow: inset 0 0 0 1px #cc1818;
	color: #cc1818;
}
.wp-block-mailster-form-outside-wrapper-placeholder input,
.wp-block-mailster-form-outside-wrapper-placeholder select,
.wp-block-mailster-form-outside-wrapper-placeholder .submit-button,
.wp-block-mailster-form-outside-wrapper-placeholder label,
.wp-block-mailster-form-outside-wrapper-placeholder .mailster-label,
.wp-block-mailster-form-outside-wrapper-placeholder > *:not(.mailster-wrapper) {
	background: none;
	animation: mailster-placeholder 1s linear infinite reverse !important;
	background-image: linear-gradient(
		90deg,
		#e0e0e0 0px,
		#fafafa 40px,
		#e0e0e0 80px
	) !important;
	background-size: 800px !important;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
	border-color: transparent !important;
	color: transparent !important;
}
.wp-block-mailster-form-outside-wrapper-placeholder .mailster-label::after {
	display: none !important;
}

@keyframes mailster-placeholder {
	0% {
		background-position: 800px 0;
	}
}
.wp-block-mailster-form-outside-wrapper-placeholder form::before {
	background: #fff !important;
}

.wp-block-mailster-form-outside-wrapper.active,
.wp-block-mailster-form-outside-wrapper.mailster-block-form-type-content,
.wp-block-mailster-form-outside-wrapper.mailster-block-form-type-other {
	display: flex;
	_justify-content: center;
}
.mailster-block-form.wp-block-mailster-form-wrapper::before {
	position: absolute;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
body::before {
	content: 'STYLE LOADED';
	font-size: 10px;
	position: fixed;
	top: 0;
	z-index: 100000;
	background: red;
	color: #fff;
}
.mailster-block-form.wp-block-mailster-form-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	text-align: left;
	pointer-events: all;
	> * {
		width: 100%;
	}
	> div {
		position: relative;
	}
	.wp-block {
		margin: 0;
	}
	.mailster-block-form-info > div {
		padding: 0.5em 1em;
		margin-bottom: 0.5em;
		display: none;
	}

	.mailster-wrapper {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0.5em;
		max-width: 100%;
		width: 100%;

		input.input,
		textarea.input,
		select.input,
		input[type='submit'] {
			width: 100%;
			max-width: 100%;
			margin: 0;
			box-sizing: border-box;
			// add some default style here
		}

		input[type='submit'] {
			appearance: none;
			//border: unset;
		}

		.mailster-wrapper-options {
			display: block;
		}

		// more specificity
		&.mailster-wrapper-type-submit {
			margin-top: 0;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0.5em;
		}
	}
}
.mailster-block-form {
	max-width: 100vw;
	z-index: 1;
	.mailster-block-form-close {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		transition: opacity 0.2s;
		fill: #fff;
		stroke-width: 1em;
		padding: 2px;
		stroke: #000;
		opacity: 0.7;
		z-index: 1000;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 52.1c54.9 0 106.1 21.4 144.3 59.6 38.2 39.1 59.6 90.3 59.6 144.3s-21.4 106.1-59.6 144.3c-39.1 38.2-90.3 59.6-144.3 59.6s-106.1-21.4-144.3-59.6C73.5 361.2 52.1 310 52.1 256s21.4-106.1 59.6-144.3c38.2-39.1 89.4-59.6 144.3-59.6M256 0C114.5 0 0 114.5 0 256s114.5 256 256 256 256-114.5 256-256S397.5 0 256 0z" /><path d="m384.5 348.2-36.3 36.3-92.2-93.1-92.2 93.1-35.3-36.3 92.1-92.2-92.1-92.2 35.3-35.3 92.2 92.1 92.2-92.1 36.3 35.3-93.1 92.2z" /></svg>');
		animation: mailster-showlate 1.5s 1 linear;
	}

	.mailster-block-form-close:hover {
		opacity: 1;
	}
	.mailster-block-form-info {
		display: none;
		transition: transform 2.2s;
	}
	.mailster-block-form-info.error,
	.mailster-block-form-info.success {
		display: block;
		animation: mailster-fadein 0.2s 1 ease-in-out;
	}

	.mailster-block-form-info.error .mailster-block-form-info-error,
	.mailster-block-form-info.success .mailster-block-form-info-success {
		display: block;
	}

	.mailster-block-form-info-success {
		color: #fff;
		color: var(--mailster--color--success, #fff);
		background-color: #6fbf4d;
		background-color: var(--mailster--color--success-background, #6fbf4d);
	}
	.mailster-block-form-info-error {
		color: #fff;
		color: var(--mailster--color--error, #fff);
		background-color: #bf4d4d;
		background-color: var(--mailster--color--error-background, #bf4d4d);
	}

	.mailster-wrapper.error {
		input,
		select,
		textarea {
			outline: 2px solid var(--mailster--color--error-background, #bf4d4d);
			outline-offset: -2px;
			border-color: var(--mailster--color--error-background, #bf4d4d);
		}
	}

	.mailster-wrapper-required {
		label.mailster-label::after {
			content: '*';
			display: inline-block;
			padding-left: 0.2rem;
			padding-right: 0.2rem;
			color: #bf4d4d;
			color: var(--wp--preset--color--vivid-red, #bf4d4d);
		}
	}
	.mailster-wrapper-inline {
		label.mailster-label {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			padding-left: 1rem;
			padding-right: 1rem;
			pointer-events: none;
			display: flex;
			align-items: center;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		input.input:focus + label.mailster-label,
		input.input:not(:placeholder-shown) + label.mailster-label {
			display: none;
		}

		input.input::placeholder {
			visibility: hidden;
		}
		input.input::placeholder {
			/* Chrome/Opera/Safari */
			color: transparent;
		}
	}
	.mailster-wrapper-inline.mailster-wrapper-type-radio {
		label.mailster-label {
			display: none;
		}
	}
	.mailster-wrapper-type-radio {
		label {
			white-space: nowrap;
		}
	}
	.mailster-wrapper-inline.mailster-wrapper-type-dropdown {
		label.mailster-label {
			display: none;
		}
	}
	.mailster-wrapper {
		input[type='checkbox'],
		input[type='radio'] {
			vertical-align: middle;
		}
		span {
			vertical-align: middle;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}
}
@media only screen and (max-width: 400px) {
	.mailster-block-form.wp-block-mailster-form-wrapper {
		.mailster-wrapper {
			min-width: 100%;
		}
	}
}
.mailster-block-form.has-errors {
	animation: mailster-shake 0.3s 1 linear;
	.mailster-block-form-info {
		height: auto;
		transform: scale(1);
		.mailster-block-form-info-error {
			display: block;
		}
	}
}
.mailster-block-form.has-success {
	.mailster-block-form-info {
		height: auto;
		transform: scale(1);
		.mailster-block-form-info-success {
			display: block;
		}
	}
}
.mailster-block-form.wp-block-mailster-form-wrapper.loading
	.wp-block-mailster-field-submit::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	z-index: 1;
	animation: mailster-loading 5.5s linear infinite;
	background-image: linear-gradient(
		45deg,
		#fafafa00 25%,
		#e0e0e025 25%,
		#e0e0e025 50%,
		#fafafa00 50%,
		#fafafa00 75%,
		#e0e0e025 75%,
		#e0e0e025 100%
	);
	background-size: 56.57px 56.57px;
}
@keyframes mailster-loading {
	0% {
		background-position: 800px 0;
	}
}
.wp-block-mailster-form-outside-wrapper.has-animation {
	animation: mailster-fadein 0.2s 1 ease-in-out;
}
.wp-block-mailster-form-outside-wrapper.has-animation.animation-fadein
	.mailster-block-form {
	animation: mailster-fadein 1s 1 ease-in-out;
}
.wp-block-mailster-form-outside-wrapper.has-animation.animation-shake
	.mailster-block-form {
	animation: mailster-shake 0.5s 1 ease-in-out;
}
.wp-block-mailster-form-outside-wrapper.has-animation.animation-heartbeat
	.mailster-block-form {
	animation: mailster-heartbeat 1.3s 1 ease-in-out;
}
.wp-block-mailster-form-outside-wrapper.has-animation.animation-swing
	.mailster-block-form {
	transform-origin: top center;
	animation: mailster-swing 1s 1 ease-in-out;
}
.wp-block-mailster-form-outside-wrapper.has-animation.animation-tada
	.mailster-block-form {
	animation: mailster-tada 1s 1 ease-in-out;
}
.wp-block-mailster-form-outside-wrapper.has-animation.animation-wobble
	.mailster-block-form {
	animation: mailster-wobble 1s 1 ease-in-out;
}

@keyframes mailster-fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes mailster-showlate {
	0%,
	95% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes mailster-shake {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}

	10%,
	50%,
	90% {
		transform: translate3d(-6px, 0, 0);
	}

	30%,
	70% {
		transform: translate3d(6px, 0, 0);
	}
}

@keyframes mailster-swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}
@keyframes mailster-heartbeat {
	0% {
		transform: scale(1);
	}

	14% {
		transform: scale(1.1);
	}

	28% {
		transform: scale(1);
	}

	42% {
		transform: scale(1.1);
	}

	70% {
		transform: scale(1);
	}
}
@keyframes mailster-tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes mailster-wobble {
	from {
		transform: translate3d(0, 0, 0);
	}

	15% {
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}

	30% {
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}

	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}

	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}

	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}
