/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.is-root-container .wp-block-mailster-input.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}
.wp-block-mailster-input input {
	pointer-events: none;
}
.wp-block-mailster-input .rich-text span:empty {
	visibility: hidden;
}
.wp-block-mailster-input:hover .rich-text span:empty {
	visibility: visible;
}
