/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mailster-input input {
	pointer-events: none;
}
.wp-block-mailster-input .rich-text span:empty {
	visibility: hidden;
}
.wp-block-mailster-input:hover .rich-text span:empty {
	visibility: visible;
}

.mailster-wrapper {
	label {
		font-family: revert;
		font-weight: revert;
	}
}
.mailster-wrapper-inline {
	label {
		pointer-events: all !important;
	}
	:focus-within {
		label {
			display: block !important;
		}
	}
}
