/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mailster-input input {
	pointer-events: none;
}
.wp-block-mailster-input .rich-text span:empty {
	visibility: hidden;
}
.wp-block-mailster-input:hover .rich-text span:empty {
	visibility: visible;
}

.mailster-wrapper {
	label.mailster-label {
		pointer-events: all !important;
		white-space: nowrap !important;
	}
}
.mailster-form.wp-block-mailster-form-wrapper .mailster-wrapper-inline label {
	_pointer-events: inherit;
}
.mailster-form.wp-block-mailster-form-wrapper
	.mailster-wrapper-inline:focus-within
	label {
	display: flex;
}
