.mailster-shortcodes-icon:before, .mailster-tags-icon:before {
	font: normal 16px/1 'mailster-icons' !important;
	content_: '\e800';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mailster-shortcodes-icon:before, .mailster-tags-icon:before {
	vertical-align: text-bottom !important;
}
.mailster-tags-icon:before {
	content_: '\e830';
}
#adminmenu #menu-posts-newsletter .wp-menu-image img {
	width: 16px;
}
#dashboard_right_now a.mailster-campaigns:before {
	content_: '\e800';
	content:'';
	width: 20px;
	height: 20px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="magenta" height="24" width="24"/></g><g><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M7,13.5c-0.83,0-1.5-0.67-1.5-1.5 c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C8.5,12.83,7.83,13.5,7,13.5z M12,13.5c-0.83,0-1.5-0.67-1.5-1.5 c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C13.5,12.83,12.83,13.5,12,13.5z M17,13.5c-0.83,0-1.5-0.67-1.5-1.5 c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C18.5,12.83,17.83,13.5,17,13.5z"/></g></svg>');
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 2px 0 2px;
}
#dashboard_right_now a.mailster-subscribers:before {
	content_: '\e81c';
	content:'';
	width: 20px;
	height: 20px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="magenta" height="24" width="24"/></g><g><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M7,13.5c-0.83,0-1.5-0.67-1.5-1.5 c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C8.5,12.83,7.83,13.5,7,13.5z M12,13.5c-0.83,0-1.5-0.67-1.5-1.5 c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C13.5,12.83,12.83,13.5,12,13.5z M17,13.5c-0.83,0-1.5-0.67-1.5-1.5 c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C18.5,12.83,17.83,13.5,17,13.5z"/></g></svg>');
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 2px 0 2px;
}
tr.status-active div.campaign-progress span.bar:before,.progress span.bar:before{
	content: '';
	display: block;
	top: -2px;
	bottom: -2px;
	width: 20%;
	min-width: 50px;
	left: 0%;
	position: absolute;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
	-webkit-animation: progressindicator 0.75s ease infinite;
	animation: progressindicator 0.75s ease infinite;
}
@-webkit-keyframes progressindicator {
	0%{left:-20%;}
	100%{left:120%;}
}
@keyframes progressindicator {
	0%{left:-20%;}
	100%{left:120%;}
}
