/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.post-type-newsletter_form .edit-post-visual-editor {
	background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style>.st0{fill:%23fafafa}</style><path class="st0" d="M0 0h50v50H0zM50.5 49.5h50v50h-50z"/></svg>')
		white !important;
	background-repeat: repeat;
	background-size: 25px !important;
}
.post-type-newsletter_form .edit-post-visual-editor__content-area > div {
	background: none !important;
}
.post-type-newsletter_form
	.edit-post-visual-editor__content-area
	.editor-styles-wrapper {
	background-color: transparent;
}
.post-type-newsletter_form
	.edit-post-visual-editor__content-area
	.editor-styles-wrapper
	.is-root-container
	.wp-block {
	max-width: 100%;
}
.post-type-newsletter_form
	.edit-post-visual-editor__content-area
	.editor-styles-wrapper
	.is-root-container {
	margin: 1vh 0 0;
	background-color: none;
	max-width: 100%;
	width: 100%;
}

.post-type-newsletter_form
	.editor-styles-wrapper
	.wp-block.editor-post-title__block
	.editor-post-title__input {
	all: unset !important;
	font-size: 30px !important;
}
.post-type-newsletter_form .edit-post-visual-editor p[data-empty='true'] {
	_display: none;
}
.post-type-newsletter_form .edit-post-visual-editor:hover p[data-empty='true'] {
	_display: block;
}
.post-type-newsletter_form .is-root-container > .block-list-appender {
	display: none;
}
