/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.post-type-newsletter_form .edit-post-layout__metaboxes {
	display: none;
}
.post-type-newsletter_form .edit-post-visual-editor {
	background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style>.st0{fill:%23fafafa}</style><path class="st0" d="M0 0h50v50H0zM50.5 49.5h50v50h-50z"/></svg>')
		white !important;
	background-repeat: repeat;
	background-size: 25px !important;
}
.post-type-newsletter_form .edit-post-visual-editor__content-area > div {
	background: none !important;
}
.post-type-newsletter_form
	.edit-post-visual-editor__content-area
	.editor-styles-wrapper {
	background-color: transparent;
}
.post-type-newsletter_form
	.edit-post-visual-editor__content-area
	.editor-styles-wrapper
	.is-root-container
	> .wp-block {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.post-type-newsletter_form
	.edit-post-visual-editor__content-area
	.editor-styles-wrapper
	.is-root-container {
	margin: 1vh 0 0;
	background-color: none;
	max-width: 100%;
	width: 100%;
}

button[name='link'] {
	display: none;
}

.components-navigator-provider {
	width: 100%;
}
.components-navigator-screen {
	overflow: visible;
	padding: 4px;
}

.placement-option:hover {
	_box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--wp-admin-theme-color);
	__outline: 2px solid transparent;
}
.placement-option .components-card-header {
	padding: 0.6em;
}

.placement-option .components-card-header .components-base-control__field {
	margin: 0;
}
.placement-option .components-card-media {
	padding: 1em;
}
.placement-option .components-card-media svg path {
	filter: grayscale(1);
	opacity: 0.3;
}

.placement-option.enabled .components-card-media svg path,
.placement-option:hover .components-card-media svg path {
	opacity: 1;
	filter: initial;
}

.post-type-newsletter_form
	.editor-styles-wrapper
	.wp-block.editor-post-title__block
	.editor-post-title__input {
	all: unset !important;
	font-size: 30px !important;
}
.post-type-newsletter_form .edit-post-visual-editor p[data-empty='true'] {
	display: none;
}
.post-type-newsletter_form .edit-post-visual-editor:hover p[data-empty='true'] {
	display: block;
}
.post-type-newsletter_form .is-root-container > .block-list-appender {
	display: none;
}
