/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mailster-form {
}
.wp-block-mailster-form input[type='text'],
.wp-block-mailster-form input[type='email'],
.wp-block-mailster-form input[type='url'],
.wp-block-mailster-form input[type='password'],
.wp-block-mailster-form input[type='search'],
.wp-block-mailster-form input[type='number'],
.wp-block-mailster-form input[type='tel'],
.wp-block-mailster-form input[type='range'],
.wp-block-mailster-form input[type='date'],
.wp-block-mailster-form input[type='month'],
.wp-block-mailster-form input[type='week'],
.wp-block-mailster-form input[type='time'],
.wp-block-mailster-form input[type='datetime'],
.wp-block-mailster-form input[type='datetime-local'],
.wp-block-mailster-form input[type='color'],
.wp-block-mailster-form textarea {
	width: 100%;
}
.wp-block-mailster-form.has-asterisk
	.wp-block-mailster-field.is-required
	label.mailster-label:after {
	content: ' *';
	color: #d94f4f;
}
.wp-block-mailster-form .mailster-input {
	margin-bottom: 15px;
	box-sizing: border-box;
	outline: none;
	padding: 0.36rem 0.66rem;
	-webkit-appearance: none;
	outline-offset: 0;
	border-radius: 0;
	min-height: 2em;
}
.wp-block-mailster-form div.mailster-input {
	border: 1px solid #ccc;
}

.wp-block-mailster-form .mailster-notice {
	border-radius: 2px;
	padding: 5px;
	margin-bottom: 4px;
	color: #fff;
	padding: 9px 16px;
	transition: all 0.2s;
}
.wp-block-mailster-form .mailster-notice.mailster-notice-error {
	background-color: #bf4d4d;
}
.wp-block-mailster-form .mailster-notice.mailster-notice-success {
	background-color: #6fbf4d;
}

.wp-block-mailster-form .mailster-form-fields {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.wp-block-mailster-form .mailster-form-fields .wp-block-mailster-field {
	min-width: 100%;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 100%;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.wp-block-mailster-form
	.mailster-form-fields
	.wp-block-mailster-field.wp-block-mailster-field-submit {
}
