.mailster-conditions-thickbox{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding: 20px;
	position: relative;
	height: 100%;
	min-height: 100%;
}
.mailster-conditions-thickbox .inner{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 56px;
	overflow: hidden;
	padding: 20px;
}
.mailster-conditions-thickbox .foot{
	padding: 10px 20px 20px;
	border-top: 1px solid #DFDFDF;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.mailster-conditions-thickbox .button{
	float: right;
	margin-left: 6px;
}
.mailster-conditions .mailster-condition, .mailster-conditions .mailster-condition-empty{
	border:1px solid #DFDFDF;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin:3px 0;
	padding:5px;
	display: block;
	float: none;
	clear: both;
}
.mailster-conditions{
	margin: 10px 0;
	height: 60%;
	overflow: auto;
}
.mailster-conditions:empty:before{
	content: attr(data-emptytext);
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #999;
	z-index: -1;
}
.mailster-condition-container{
	display: none;
}
.mailster-conditions .mailster-condition-head select{
	_width: 48%;
}
.mailster-conditions .mailster-condition:after{
	display: table;
	content:'';
	clear: both;
	float: none;
}
.mailster-conditions-field-fields, .mailster-conditions-operator-fields, .mailster-conditions-value-fields{
	float: left;
	max-width: 48%;
	padding-right: 4px;
}
.mailster-conditions-operator-fields{
	max-width: 140px;
}
.mailster-conditions-value-fields{
	padding: 2px 0;
}
.mailster-conditions select, .mailster-conditions input{
	max-width: 100%
}
.mailster-conditions .mailster-condition{
	background-color: #fff;
	position: relative;
	margin: 2px 0 16px;
}
.mailster-conditions .mailster-condition-empty{
	background-color: none;
	border:1px dotted #DFDFDF;
	text-align: center;
}
.mailster-conditions .remove-condition{
	float: right;
	cursor: pointer;
	display: none;
	margin-bottom: 10px;
}
.mailster-conditions .mailster-condition-head{
	margin: 2px 0;
}
.mailster-conditions .mailster-condition:hover .remove-condition{
	display: block;
}
.mailster-condition:first-child .mailster-condition-operators{
	display: none;
}
.mailster-conditions .mailster-condition-operators{
	transform: translate(50%,-22px);
	position: relative;
}
.mailster-conditions .mailster-condition-operators label{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	padding: 0 3px;
	text-transform: uppercase;
	color: #999;
	font-size: 15px;
	line-height: 1em;
}
.mailster-conditions .mailster-condition-operator-is-and label.mailster-condition-operator-or,
.mailster-conditions .mailster-condition-operator-is-or label.mailster-condition-operator-and
{
	display: none;
}
