.mailster-conditions, .mailster-conditions .mailster-conditions-group .mailster-condition, .mailster-conditions .mailster-condition-empty{
	border:1px solid #DFDFDF;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin:3px 0;
	padding:5px;
	display: block;
	float: none;
	clear: both;
}
.mailster-conditions{
	margin: 0;
}
.mailster-conditions{
}
.mailster-conditions .mailster-condition-head select{
	width: 48%;
}
.mailster-conditions .mailster-condition{
	background-color: #fff;
	position: relative;
}
.mailster-conditions .mailster-condition-empty{
	background-color: none;
	border:1px dotted #DFDFDF;
	text-align: center;
}
.mailster-conditions .remove-condition{
	float: right;
	cursor: pointer;
	display: none;
}
.mailster-conditions .mailster-condition:hover .remove-condition{
	display: block;
}
.mailster-conditions-group:first-child .mailster-condition:first-child .mailster-condition-operators{
	display: none;
}
.mailster-conditions .mailster-condition-operators{
	transform: translate(46%,-17px);
	position: relative;
}
.mailster-conditions .mailster-condition-operators label{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	padding: 0 3px;
	text-transform: uppercase;
	color: #ccc;
	font-size: 15px;
}
.mailster-conditions .mailster-condition-operator-is-and label.mailster-condition-operator-or,
.mailster-conditions .mailster-condition-operator-is-or label.mailster-condition-operator-and
{
	display: none;
}
