.notice, .error, .update-nag{
	display: none !important;
}
.mailster-box{
	float: left;
	width: 338px;
	height: 460px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #DEDEDB;
	background-color: #f7f7f7;
	position: relative;
	overflow: hidden;
	-webkit-transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
	-moz-transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
	-ms-transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
	-o-transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
	transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
	z-index: 2;
}
@media only screen and (max-width: 782px){
	.mailster-box{
		width: 100%;
	}
}
.rtl .mailster-box{
	float: right;
	margin-right: 0px;
	margin-left: 20px;
}
.mailster-box .loader{
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 20px;
	background-image: url('../img/loading.gif');
	background-color: rgba(255,255,255,0.5);
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.mailster-box .loader{
		background-image: url('../img/loading_2x.gif');
	}
}
.mailster-box.loading .loader{
	display: block;
}
.mailster-box h3{
	margin-bottom: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	overflow: hidden;
}
.mailster-box .screenshot{
	display: block;
	margin: 19px;
	position: relative;
	height: 225px;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
.mailster-box .screenshot a {
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moztransform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	opacity: 0;
	background: #23282d;
	background: rgba(0,0,0,0.7);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.6);
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	padding: 10px 12px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
	white-space: nowrap;
	text-decoration: none;
}
.mailster-box .screenshot a.thickbox-preview{
	top: 40%;
}
.mailster-box .screenshot:hover a {
	opacity: 1;
}
.mailster-box .screenshot:hover img {
	opacity: 0.5;
}
.mailster-box .screenshot img{
	display: block;
	width: 100%;
	height: auto;
}
.mailster-box .meta{
	display: block;
	margin: 0 19px;
}
.mailster-box .description{
	color: #666;
	font-style: italic;
	margin: 0 19px;
	max-height: 100px;
	overflow: auto;
	-webkit-transition: max-height .25s ease-in-out;
	-moz-transition: max-height .25s ease-in-out;
	-ms-transition: max-height .25s ease-in-out;
	-o-transition: max-height .25s ease-in-out;
	transition: max-height .25s ease-in-out;
}
.add-license .description{
	max-height: 16px;
}
.mailster-box .licensecode{
	border-top: 1px solid #DEDEDB;
	border-bottom: 1px solid #DEDEDB;
	height: 28px;
	padding: 19px;
	opacity: 0;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
.mailster-box .licensecode input.license{
	float: left;
	width: 79%;
}
.mailster-box .licensecode .button{
	float: right;
	width: 20%;
}
.add-license .licensecode{
	opacity: 1;
}
.mailster-box .action-links{
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding: 14px 20px 9px;
	background: #fff;
	background: rgba(255,255,255,0.65);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}
.mailster-box .action-links ul li{
	float: left;
	margin-right: 10px;
}
.mailster-box .action-links ul li.alignright{
	float: right;
	margin-right: 0px;
}
.mailster-box .action-links a{
}
.mailster-box .action-links .delete-theme{
	float: right;
}
.mailster-box .action-links a.deletion{
	color: #A00;
	text-decoration: none;
	line-height: 2em;
}
.mailster-box .action-links a.deletion:hover{
	color: #F00;
}
.mailster-box.is-default{
	background-color: #fff;
}
.mailster-box .action-links a.purchase{
	float: right;
}
.mailster-box:hover{
	background-color: #fff;
	border-color: #5b9dd9;
	box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
}
.mailster-box.is-free:after, .mailster-box.is-default:after, .mailster-box.is-feature:after, .mailster-box.is-new:after, .mailster-box.edit:after, .mailster-box.update:after{
	position: absolute;
	top: 12px;
	right: -31px;
	content: 'free';
	padding: 4px 44px;
	background-color: #5AA6CC;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.mailster-box.is-feature:after{
	top: 17px;
	right: -41px;
	content: 'featured';
	background-color: #F26B6B;
}
.mailster-box.is-default:after{
	right: -40px;
	background-color: #5BCD6A;
	content: 'default';
}
.mailster-box.is-default{
	border-color: #5BCD6A;
}
.mailster-box.is-new:after{
	right: -34px;
	background-color: #F26B6B;
	content: 'fresh';
}
.mailster-box.is-unsupported > *{
	opacity: 0.2;
}
.mailster-box.is-unsupported:before{
	content: attr(data-support);
	display: block;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #444;
	z-index: 100;
	background: none;
	font-size: 20px;
	line-height: 1.2em;
	width: 90%;
}

.mailster-box.edit:after{
	content: 'edit';
}
.mailster-box.update:after{
	background-color: #F26B6B;
	right: -40px;
	content: 'update';
}
.mailster-box.update{
	border-color: #F26B6B;
}
.mailster-box.edit{
	border: 1px solid #d1d1d1;
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
.mailster-box a.edit.disabled{
	color: #ccc;
	opacity: 0.8;
}


.mailster-import-result{
	background: #fff;
	border-left: 4px solid #fff;
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 5px 0px;
	padding: 12px 12px;
}
.mailster-import-result h4{
	margin: 0;
}
.imports-toggles label{
	padding-left: 20px;
}
.mailster-import-result h4:before, .imports-toggles label i:before{
	font-family: 'mailster-icons' !important;
	padding-right: 10px;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block !important;
	vertical-align: bottom;
}
.imports-toggles label i:before{
	font-size: 18px;
	padding: 0 3px 0 3px;
	vertical-align: middle;
}
.mailster-import-result.mailster-import-is-success h4:before, .imports-toggles label.label-success i:before{
	color: #46b450;
	content: '\e804';
}
.mailster-import-result.mailster-import-is-error h4:before, .imports-toggles label.label-error i:before{
	color: #dc3232;
	content: '\e80b';
}
.mailster-import-result.mailster-import-is-warning h4:before, .imports-toggles label.label-warning i:before{
	color: #ffb900;
	content: '\e812';
}
.mailster-import-result.mailster-import-is-notice h4:before, .imports-toggles label.label-notice i:before{
	color: #00a0d2;
	content: '\e834';
}

.mailster-import-result .mailster-import-result-more{
	padding: 10px 0 8px 30px;
	font-style: italic;
}
.mailster-import-result .mailster-import-result-more:empty{
	display: none;
}
.subtab{
	padding: 10px 5px;
}
.imports-output, .imports-textoutput-wrap{
	height: 420px;
	overflow: auto;
	padding: 5px;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	box-sizing: border-box;
}
.imports-output .button, .imports-output .button:active{
	transform: translate(-50%, -50%) !important;
	top: 50%;
	left: 50%;
	position: relative;
}
.imports-textoutput-wrap{
	white-space: pre;
	font-family: monospace;
}
.imports-textoutput-wrap textarea{
	width: 100%;
	height: 100%;
}
.imports-wrap.no-success .mailster-import-is-success,
.imports-wrap.no-error .mailster-import-is-error,
.imports-wrap.no-warning .mailster-import-is-warning,
.imports-wrap.no-notice .mailster-import-is-notice
{
	display: none;
}
.progress{
	width: 100%;
	height: 40px;
	background: #fefefe;
	overflow: hidden;
	font-size: 10px;
	position: relative;
	text-align: right;
	line-height: 20px;
	display: none;
	margin-top: 24px;
	border-radius: 4px;
}
.progress span.bar{
	display: block;
	position: absolute;
	line-height: 2.6em;
	padding: 2px 0;
	white-space: nowrap;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: visible;
	-webkit-transition: width .6s ease-in-out;
	-moz-transition: width .6s ease-in-out;
	-ms-transition: width .6s ease-in-out;
	-o-transition: width .6s ease-in-out;
	transition: width .6s ease-in-out;
	border-radius: 4px;

}
.progress span.bar{
	background: url(../img/progress_2x.gif);
}
.progress.finished span.bar{
	background: #c7e9c4;
	background: -moz-linear-gradient(top, #c7e9c4 0%, #aacca7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7e9c4), color-stop(100%,#aacca7));
	background: -webkit-linear-gradient(top, #c7e9c4 0%,#aacca7 100%);
	background: -o-linear-gradient(top, #c7e9c4 0%,#aacca7 100%);
	background: -ms-linear-gradient(top, #c7e9c4 0%,#aacca7 100%);
	background: linear-gradient(top, #c7e9c4 0%,#aacca7 100%);
}
a.clipboard{
	cursor: pointer;
	font-size: smaller;
}
