.mailster-preflight{
	display: grid;
	grid-template-columns: auto 700px auto 440px 20px;
	grid-template-rows: 50px auto;
	height: 100%;
}
#preflight-ajax-loading{
	float: left;
}
.preflight-bar{
	background: #f5f5f5;
	grid-column-start: 1;
	grid-column-end: 6;
	border-bottom: 1px solid #ddd;
	z-index: 3;
}
.preflight-bar ul{
	margin: 0.7em 20px;
	line-height: 2em;
}
.preflight-bar ul li{
	display: inline-block;
}
.device-wrap{
	grid-column-start: 2;
	grid-row-start: 2;
}
.score-wrap{
	grid-column-start: 4;
	grid-row-start: 2;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	background-color: #fafafa;
	position: relative;
}
.device{
	transition: all 0.3s;
}
.device:hover{
	z-index: 100;
}
.device.desktop{
	_width: 60%;
	_max-width: 710px;
	min-width: 320px;
	max-height: 101%;
	height: 90%;
	top: 50%;
	left: 50%;
	width: 100%;
	position: relative;
	transform: translate(-50%,-50%);
	border: 1px solid #dfdfdf;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1)
}
.rtl .device.desktop{
	left: auto;
	right: 0;
}
.desktop-header{
	border-bottom: 1px solid #dfdfdf;
	height: 70px;
	background-color: #fafafa;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
}
.desktop-header .desktop-header-info{
	padding: 12px;
}
.desktop-header .desktop-header-info u{
	display: block;
	float: right;
	background: #f1f1f1;
	border-radius: 50%;
	margin-top: -3px;
	width: 30px;
	height: 30px;
}
.rtl .desktop-header .desktop-header-info u{
	float: left;
}
.desktop-header .desktop-header-info i{
	display: block;
	background: #f1f1f1;
	margin: 3px 0 5px 5px;
	width: 60%;
	height: 6px;
}
.desktop-header .desktop-header-info i:last-child{
	width: 40%;
}
.desktop-body{
	background: #dfdfdf;
	_position: absolute;
	_bottom: 0;
	_top: 71px;
	_left: 0;
	_right: 0;
	position: absolute;
	top: 71px;
	bottom: 0;
	left: 0;
	right: 0;
}
.device .preview-body{
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.4);
	position: absolute;
	cursor: pointer;
	-webkit-transform: translateZ(0px);
}
.mobile-body .preview-body{
	left: 11px;
	right: 11px;
	bottom: 21px;
	border: 1px solid #dfdfdf;
}
.device .preview-body iframe{
	height: 100%;
	min-height: 100%;
}
.device-info {
	position: absolute;
	bottom: -84px;
	text-align: center;
	width: 120%;
	font-size: 130%;
	left: -10%;
}
summary, details { display: block; }
details { visibility: hidden; }
details > summary { visibility:  visible; }
details details { visibility:  visible; }
details[open] summary.no-det:before { transform: rotate(90deg); }
details[open] { visibility: visible; }
details summary { cursor: pointer; }
summary:hover { cursor: pointer; }
details a { display: block; }
summary:focus {outline:none}
details summary::-webkit-details-marker { display:none; }

.score-wrap .preflight-results-wrap{
	position: absolute;
	top: 260px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	border-top: 1px solid #dfdfdf;
}
.score-wrap .preflight-results{
	border-bottom: 1px solid #dfdfdf;
}
.score-wrap .preflight-results pre{
	white-space: normal;
	font-size: 12px;
	background: #fff;
	overflow: auto;
	padding:3px;
}
.score-wrap details{
}
.score-wrap details summary{
	border-top: 1px solid #dfdfdf;
	padding: 1em 2em;
	font-weight: bold;
}
.score-wrap details details summary{
	margin: 0 -2em;
	padding: 0.5em 2em;
	border-color: #efefef;
}
.score-wrap details:first-child summary{
	border-top: none;
}
.score-wrap details summary:after{
	display: inline-block;
	float: right;
	font-family: 'mailster-icons' !important;
	padding-right: 10px;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block !important;
	vertical-align: bottom;
}
.score-wrap details summary.is-success:after{
	content: '\e804';
	color: #46b450;
}
.score-wrap details summary.is-notice:after{
	color: #00a0d2;
	content: '\e834';
}
.score-wrap details summary.is-warning:after{
	content: '\e812';
	color: #ffb900;
}
.score-wrap details summary.is-error:after{
	content: '\e80b';
	color: #dc3232;
}
.score-wrap details summary.loading{
	background-position: 99% center;
	background-repeat: no-repeat;
	background-image: url(../img/loading.gif) !important;
}
.score-wrap details > div{
	padding:1px 2em 1em;
}

.preflight-score{
	text-align: center;
}
.preflight-score .score{
	font-size: 50px;
	line-height: 100%;
	padding: 1.3em;
}
.preflight-score .score:after{
	content:'%';
	    font-size: 20px;
}