.mailster-preflight{
	display: grid;
	grid-template-columns: auto 700px auto 440px 20px;
	grid-template-columns: auto 440px 20px;
	grid-template-rows: 90px auto;
	height: 100%;
}
#preflight-ajax-loading{
	float: left;
}
.preflight-bar{
	background: #f5f5f5;
	grid-column-start: 1;
	grid-column-end: 4;
	border-bottom: 1px solid #ddd;
	z-index: 3;
	display: grid;
	grid-template-columns: auto 42px 500px 200px;
	padding: 10px
}
.preflight-bar div{
	padding:20px 0;
}
.prefligth-emailheader{
	margin: 0;

}
.prefligth-emailheader li{
	display: block;
}
.preflight-switch.preflight-switch-mobile:before{
	transform: scale(1.6);
	content: '\e813';
	margin-left: .1em
}
.preflight-switch.preflight-switch-landscape:before{
	transform: rotateZ(90deg) scale(1.6);
	content: '\e813';
	margin-left: .1em
}
.preflight-switch.preflight-switch-desktop:before{
	transform: scale(1.3);
	content: '\e811';
	margin-left: .1em
}
.preflight-toggle-images:before{
	transform: scale(1.3);
	content: '\e836';
	margin-left: .1em
}
.preflight-toggle-images:after{
	content: '';
	border-left: 2px solid #000;
	transform: rotateZ(45deg);
	display: inline-block;
	height: 25px;
	position: absolute;
	margin-left: -10px;
	margin-top: 1px;
}

.prefligth-emailheader li label{
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #AAA;
	display: inline-block;
	width: 56px;
}
.device-wrap{
	grid-column-start: 1;
	grid-row-start: 2;
	position: relative;
	z-index: 0;
	background-color: #f1f1f1;
}
.device-notice{
	bottom: 3vh;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
.score-wrap{
	grid-column-start: 2;
	grid-row-start: 2;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	background-color: #fafafa;
	position: relative;
}
.device{
	transition: all 0.3s;
}
.device.desktop{
	_width: 60%;
	_max-width: 710px;
	min-width: 320px;
	max-height: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	width: 100%;
	position: relative;
	transform: translate(-50%,-50%);
	border: 1px solid #dfdfdf;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1)
}
.rtl .device.desktop{
	left: auto;
	right: 0;
}
_.desktop-header{
	border-bottom: 1px solid #dfdfdf;
	height: 70px;
	background-color: #fafafa;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
}
_.desktop-header _.desktop-header-info{
	padding: 12px;
}
_.desktop-header _.desktop-header-info u{
	display: block;
	float: right;
	background: #f1f1f1;
	border-radius: 50%;
	margin-top: -3px;
	width: 30px;
	height: 30px;
}
.rtl _.desktop-header _.desktop-header-info u{
	float: left;
}
_.desktop-header _.desktop-header-info i{
	display: block;
	background: #f1f1f1;
	margin: 3px 0 5px 5px;
	width: 60%;
	height: 6px;
}
_.desktop-header _.desktop-header-info i:last-child{
	width: 40%;
}
.desktop-body{
	background: #dfdfdf;
	_position: absolute;
	_bottom: 0;
	_top: 71px;
	_left: 0;
	_right: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.device .preview-body{
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.4);
	position: absolute;
	cursor: pointer;
	-webkit-transform: translateZ(0px);
}
.mobile-body .preview-body{
	left: 11px;
	right: 11px;
	bottom: 21px;
	border: 1px solid #dfdfdf;
}
.device .preview-body iframe{
	height: 100%;
	min-height: 100%;
}
.device-info {
	position: absolute;
	bottom: -84px;
	text-align: center;
	width: 120%;
	font-size: 130%;
	left: -10%;
}
summary, details { display: block; }
details { visibility: hidden; }
details > summary { visibility:  visible; }
details details { visibility:  visible; }
details[open] summary.no-det:before { transform: rotate(90deg); }
details[open] { visibility: visible; }
details summary { cursor: pointer; }
summary:hover { cursor: pointer; }
details a { display: block; }
summary:focus {outline:none}
details summary::-webkit-details-marker { display:none; }

.score-wrap .preflight-results-wrap{
	position: absolute;
	top: 260px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	border-top: 1px solid #dfdfdf;
}
.score-wrap .preflight-results{
	border-bottom: 1px solid #dfdfdf;
}
.score-wrap .preflight-results pre{
	white-space: pre;
	font-size: 12px;
	background: #fff;
	overflow: auto;
	padding:3px;
}
.score-wrap .error{
	position: absolute;
}
.score-wrap details{
}
.score-wrap details summary{
	border-top: 1px solid #dfdfdf;
	padding: 1em 2em;
	font-weight: bold;
}
.score-wrap details details summary{
	margin: 0 -2em;
	padding: 0.5em 2em;
	border-color: #efefef;
}
.score-wrap details:first-child summary{
	border-top: none;
}
.score-wrap details summary:after{
	display: inline-block;
	float: right;
	font-family: 'mailster-icons' !important;
	padding-right: 10px;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block !important;
	vertical-align: bottom;
}
.score-wrap details summary.is-success:after{
	content: '\e804';
	color: #46b450;
}
.score-wrap details summary.is-notice:after{
	color: #00a0d2;
	content: '\e834';
}
.score-wrap details summary.is-warning:after{
	content: '\e812';
	color: #ffb900;
}
.score-wrap details summary.is-error:after{
	content: '\e80b';
	color: #dc3232;
}
.score-wrap details summary.loading{
	background-position: 99% center;
	background-repeat: no-repeat;
	background-image: url(../img/loading.gif) !important;
	color: #999;
}
.score-wrap details > div{
	padding:1px 2em 1em;
}

.score-wrap .assets-table{

}
.score-wrap .assets-table tr.asset-valid td .asset-type{
	color: #46b450;
}
.score-wrap .assets-table tr.asset-invalid td .asset-type{
	color: #dc3232;
}
.score-wrap .assets-table .asset-type{
	display: block;
	font-size: 16px;
}
.score-wrap .assets-table .asset-type-link:before{
	content: '\e835';
}
.score-wrap .assets-table .asset-type-image:before{
	content: '\e836';
}
.score-wrap .assets-table .asset-type-anchor:before{
	content: '\f13d';
}
.score-wrap .assets-table .asset-type-email:before{
	content: '\e832';
}
.score-wrap .assets-table .the-link{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 300px;
}
.score-wrap .assets-table a.open-link:before{
	content: '\f08E';
	color: #dc3232;
	display: inline;
	float: right;
}

.preflight-score{
	text-align: center;
}
.preflight-score .score{
	font-size: 50px;
	line-height: 100%;
	padding: 1.3em;
}
.preflight-score .score:after{
	content:'%';
		font-size: 20px;
}
