.notice,
.error,
.update-nag,
.updated {
	display: none !important;
}
.notice.inline,
.error.inline,
.update-nag.inline,
.updated.inline {
	display: block !important;
}
#adminmenu #menu-posts-newsletter .wp-first-item {
	display: block;
}
#mailster-setup {
	font-size: 15px;
}
#mailster-setup p {
	line-height: 1.5;
	font-size: 14px;
}
#mailster-setup dl {
	max-width: 700px;
	margin-top: 14px;
	margin-bottom: 20px;
	line-height: 1.5em;
}
#mailster-setup dl dt {
	font-weight: 700;
	margin-left: 15px;
	margin-top: 8px;
	margin-bottom: 4px;
}
#mailster-setup dl dd {
	margin-left: 15px;
	color: #aaa;
}
#mailster-setup .two-col .col {
	width: 50%;
	float: left;
}
#mailster-setup .hide-in-wizard {
	display: none;
}
#mailster-setup .mailster-setup-steps-nav {
	list-style: none;
	margin: 2em auto 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}
#mailster-setup .mailster-setup-steps-nav li {
	margin: 0;
}
#mailster-setup .mailster-setup-steps-nav li a {
	border: 1px solid #c3c4c4;
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 50%;
	margin: 2px;
}
#mailster-setup .mailster-setup-steps-nav li a.current,
#mailster-setup .mailster-setup-steps-nav li a.prev {
	background: #c3c4c4;
}
#mailster-setup .mailster-setup-steps-nav li a:focus {
	box-shadow: none;
}

#mailster-setup .mailster-setup-steps {
	background: #fff;
	overflow: hidden;
	zoom: 1;
	clear: both;
	max-width: 1050px;
	width: 70vw;
	min-width: 900px;
	position: relative;
	margin: 10px auto;
	border: 1px solid #c3c4c4;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
#mailster-setup .mailster-setup-steps p {
	max-width: 680px;
}

#mailster-setup .mailster-setup-step {
	position: relative;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
}
#mailster-setup .mailster-setup-step .mailster-setup-step-body {
}
#mailster-setup .mailster-setup-step.active {
	display: block;
}
#mailster-setup .mailster-setup-steps .spinner {
	float: left;
}
.rtl #mailster-setup .mailster-setup-steps .spinner {
	float: right;
}
#mailster-setup .status {
	font-size: 12px;
	font-style: italic;
	line-height: 33px;
}
#mailster-setup .mailster-setup-step h2.section-title {
	padding: 50px 50px 10px;
	margin: 1.3em 0 0;
	font-size: 2em;
	font-weight: 300;
}
#mailster-setup .mailster-setup-step-body {
	padding: 0 50px 40px;
}
#mailster-setup .mailster-setup-step-buttons {
	text-align: right;
	padding: 1em 2em;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.rtl #mailster-setup .mailster-setup-step-buttons {
	text-align: left;
}
#mailster-setup .button.next-step:active {
	vertical-align: inherit;
}
#homepage_title {
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: none;
	margin: 0 0 3px;
	background-color: #fff;
}
#mailster-setup .edit-slug-area {
	display: none;
}
#mailster-setup .mailster-setup-step .nav-tab {
	font-size: inherit;
}
#mailster-setup .deliverytab {
	border: 1px solid #c3c4c4;
	padding: 15px;
	display: none;
	margin-top: -1px;
}
#mailster-setup .wp-plugin {
	margin-bottom: 20px;
}
#mailster-setup .wp-plugin a {
	display: inline-block;
	position: relative;
	box-shadow: 0 1px 8px 0 rgb(0 0 0 / 5%), 0 2px 1px 0 rgb(0 0 0 / 3%);
}
#mailster-setup .wp-plugin a img {
	vertical-align: middle;
}
#mailster-setup #load_location_db {
	display: none;
}
#mailster-setup .register_form_wrap {
	margin: 0 auto;
	width: 70%;
	min-height: 260px;
}
#mailster-setup .register_form_wrap .howto {
	font-size: 14px;
}

#mailster-setup .twitter-follow-button,
#mailster-setup .fb_iframe_widget {
	vertical-align: bottom;
}

#mailster-setup .import-wrap {
}
#mailster-setup .import-wrap .footer.alternate {
	background: none;
}
#mailster-setup .import-wrap .spinner {
	float: right;
}
#mailster-setup .import-wrap details {
	margin-left: -2em;
	margin-right: -2em;
}

summary,
details {
	display: block;
}
details {
	visibility: hidden;
}
details > summary {
	visibility: visible;
}
details details {
	visibility: visible;
}
details > summary:before {
	content: '';
	display: inline-block;
	vertical-align: bottom;
	margin: 0 8px 0 -14px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g fill="none"><path d="M0 0h24v24h-24Z"></path><path stroke="%23545454" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 16l4-4 -4-4"></path></g></svg>');
	transition: transform 0.3s;
	width: 20px;
	height: 20px;
}
.rtl details > summary:before {
	margin: 0 -14px 0 8px;
	transform: rotate(180deg);
}
details[open] > summary:before {
	transform: rotate(90deg);
}
details[open] {
	visibility: visible;
}
details summary {
	cursor: pointer;
}
summary:hover {
	cursor: pointer;
}
summary:focus {
	outline: none;
}
details summary::-webkit-details-marker {
	display: none;
}

summary {
	border-top: 1px solid #dfdfdf;
	padding: 1em 2em;
	font-weight: bold;
	line-height: 1.5em;
}
details summary.loading {
	background-position: 94% center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-image: url(../img/loading.gif) !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 32),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	details summary.loading {
		background-image: url(../img/loading_2x.gif) !important;
	}
}
details summary.loaded {
	color: inherit;
}
details > div {
	padding: 0.5em 3em 1em;
}

.mailster-homepage-previews {
	display: flex;
	gap: 8px;
}

.mailster-homepage-preview {
	position: relative;
	left: 0;
	width: 620px;
	height: 500px;
	transform-origin: top left;
	border: 1px solid #c3c4c4;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	padding: 30px;
	padding-bottom: 0;
	background-color: #f6f6fc;
}
.mailster-homepage-preview-small {
	width: 240px;
	height: 140px;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.mailster-homepage-preview-small:hover {
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
}
.mailster-homepage-slugs {
	display: none;
	overflow: hidden;
	margin-bottom: 0;
}
.mailster-homepage-slugs li {
	float: left;
	border: 1px solid #c3c4c4;
	border-bottom: none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	border-radius: 5px 5px 0 0;
	margin-left: 5px;
	margin-bottom: 0;
	padding: 0.2em 0.5em;
}

.mailster-homepage-preview .mailster-homepage-preview-browser {
	width: 250%;
	height: 250%;
	pointer-events: none;
	scale: 0.4;
	transform-origin: top left;
	overflow: hidden;
}
.mailster-homepage-preview-small .mailster-homepage-preview-browser {
	width: 500%;
	height: 500%;
	scale: 0.2;
}
.mailster-homepage-preview .mailster-homepage-preview-browser iframe {
	width: 100%;
	height: 100%;
}
.mailster-homepage-preview svg {
	display: block;
	z-index: 2;
}

.templates {
	display: flex;
	flex-wrap: wrap;
}
.templates .template {
	box-sizing: border-box;
	width: 33%;
	box-sizing: border-box;
}
.mailster-template-previews {
	display: flex;
	gap: 8px;
}

.mailster-template-preview {
	position: relative;
	left: 0;
	width: 250px;
	height: 400px;
	transform-origin: top left;
	border: 1px solid #c3c4c4;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	margin-bottom: 8px;
	padding: 20px;
	padding-bottom: 0;
	background-color: #f6f6fc;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.mailster-template-preview .mailster-template-preview-browser {
	width: 330%;
	height: 333%;
	pointer-events: none;
	scale: 0.3;
	transform-origin: top left;
	overflow: hidden;
}
.mailster-template-preview .mailster-template-preview-browser iframe {
	width: 100%;
	height: 100%;
}
.mailster-template-preview:hover {
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
}
