.notice,
.error,
.update-nag,
.updated {
	display: none !important;
}
div.fs-notice.updated,
div.fs-notice.success,
div.fs-notice.promotion {
	display: none !important;
	visibility: hidden;
	z-index: -1;
	position: absolute;
}
.notice.inline,
.error.inline,
.update-nag.inline,
.updated.inline {
	display: block !important;
}
#adminmenu #menu-posts-newsletter .wp-first-item {
	display: block;
}
#mailster-setup {
	font-size: 16px;
}
#mailster-setup p {
	line-height: 1.5em;
	font-size: 16px;
}
#mailster-setup .two-col {
	display: flex;
}
#mailster-setup .two-col .col {
	flex: 1;
}
#mailster-setup #step_start .mailster-setup-step-form {
	display: flex;
	align-items: center;
}

#mailster-setup #step_start .welcome-splash {
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23F2F4F8" d="M36,-62.2C44.3,-50.6,47.2,-36.7,48.3,-24.8C49.4,-13,48.6,-3,50.4,9.6C52.2,22.2,56.5,37.5,52.4,49.3C48.2,61.1,35.5,69.4,23.4,67.4C11.3,65.3,-0.3,52.9,-13.4,48C-26.5,43,-41.1,45.7,-50.6,40.6C-60.2,35.5,-64.6,22.7,-66.5,9.6C-68.4,-3.6,-67.6,-17.1,-61.4,-26.9C-55.1,-36.6,-43.2,-42.7,-32,-53.1C-20.9,-63.4,-10.4,-78.1,1.7,-80.7C13.8,-83.3,27.6,-73.9,36,-62.2Z" transform="translate(100 100)" /></svg>');
	background-repeat: no-repeat;
	padding: 3em 0;
	background-size: 140%;
	background-position: center center;
}
#mailster-setup #step_start .welcome-splash img {
	-webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
	filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
	font-size: 3em;
}

#mailster-setup #step_start .skip-link {
	font-size: 14px;
	position: absolute;
	bottom: 2em;
}
#mailster-setup .hide-in-wizard {
	display: none;
}
#mailster-setup .mailster-setup-steps-nav {
	list-style: none;
	margin: 2em auto 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}
#mailster-setup .mailster-setup-steps-nav li {
	margin: 0;
}
#mailster-setup .mailster-setup-steps-nav li a {
	border: 1px solid #c3c4c4;
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 50%;
	margin: 2px;
}
#mailster-setup .mailster-setup-steps-nav li a.current,
#mailster-setup .mailster-setup-steps-nav li a.prev {
	background: #c3c4c4;
}
#mailster-setup .mailster-setup-steps-nav li a:focus {
	box-shadow: none;
}

#mailster-setup .mailster-setup-steps {
	background: #fff;
	overflow: hidden;
	zoom: 1;
	clear: both;
	max-width: 1050px;
	width: 70vw;
	min-width: 900px;
	position: relative;
	margin: 10px auto;
	border: 1px solid #c3c4c4;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
#mailster-setup .mailster-setup-steps p {
	max-width: 680px;
}

#mailster-setup .mailster-setup-step {
	position: relative;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
}
#mailster-setup .mailster-setup-step .mailster-setup-step-body {
}
#mailster-setup .mailster-setup-step.active {
	display: block;
}
#mailster-setup .mailster-setup-steps .spinner {
	float: left;
}
.rtl #mailster-setup .mailster-setup-steps .spinner {
	float: right;
}
#mailster-setup .status {
	font-size: 12px;
	font-style: italic;
	line-height: 33px;
}
#mailster-setup h2,
#mailster-setup h3,
#mailster-setup h4 {
	font-weight: 400;
}
#mailster-setup .mailster-setup-step h2 {
	font-size: 2em;
	line-height: 1.2em;
}
#mailster-setup .mailster-setup-step h2.section-title {
	padding: 50px 50px 10px;
	margin: 0.3em 0 0;
}
#mailster-setup .mailster-setup-step-body {
	padding: 0 50px 40px;
}
#mailster-setup .mailster-setup-step-buttons {
	text-align: right;
	padding: 1em 2em;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.rtl #mailster-setup .mailster-setup-step-buttons {
	text-align: left;
}
#mailster-setup .button.next-step:active {
	vertical-align: inherit;
}
#homepage_title {
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: none;
	margin: 0 0 3px;
	background-color: #fff;
}
#mailster-setup .edit-slug-area {
	display: none;
}
#mailster-setup .mailster-setup-step .nav-tab {
	font-size: inherit;
}
#mailster-setup .deliverytab {
	border: 1px solid #c3c4c4;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	padding: 15px;
	display: none;
}
#mailster-setup .current .deliverytab {
	display: block;
}
#mailster-setup .deliverytab:empty {
	display: none;
}
#mailster-setup .button.quick-install.loading {
	background-color: #ededed;
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		#ededed;
	background-size: 200% 100%;
	background-position-x: 180%;
	animation: 1s skeleton-loading ease-in-out infinite;
}
#mailster-setup #load_location_db {
	display: none;
}

section {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	padding: 2em 2em;
	margin-top: 15px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #c3c4c4;
}
#step_delivery .deliverymethods {
	margin-top: 3em;
}
#step_delivery section img {
	float: right;
	width: 128px;
	height: 128px;
	border: 1px solid #c3c4c4;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
#step_delivery section.current img {
	margin-right: 20px;
}
#step_delivery section {
}
#step_delivery section.current {
	border: 1px solid #2bb3e7;
	box-shadow: 0 1px 15px rgba(43, 179, 231, 0.65);
}
#step_delivery section.current::after {
	contents: s 'current';
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 3px;
	padding: 0.2em 0.5em;
	background: rgba(220, 50, 50, 0.5);
	font-size: smaller;
	color: white;
}
#step_delivery section .notice {
	display: none !important;
}
.mailster-homepage-previews {
	display: flex;
	gap: 8px;
}

.mailster-homepage-preview {
	position: relative;
	left: 0;
	width: 620px;
	height: 500px;
	transform-origin: top left;
	border: 1px solid #c3c4c4;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	padding: 30px;
	padding-bottom: 0;
	background-color: #f6f6fc;
	overflow: hidden;
}
.mailster-homepage-preview-small {
	width: 240px;
	height: 140px;
	transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	margin-bottom: 8px;
}
.mailster-homepage-preview-small:hover {
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
}
.mailster-homepage-slugs {
	display: none;
	overflow: hidden;
	margin-bottom: 0;
}
.mailster-homepage-slugs li {
	float: left;
	border: 1px solid #c3c4c4;
	border-bottom: none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	border-radius: 5px 5px 0 0;
	margin-left: 5px;
	margin-bottom: 0;
	padding: 0.2em 0.5em;
}

.mailster-homepage-preview .mailster-homepage-preview-browser {
	width: 250%;
	height: 250%;
	pointer-events: none;
	scale: 0.4;
	transform-origin: top left;
	overflow: hidden;
}
.mailster-homepage-preview-small .mailster-homepage-preview-browser {
	width: 500%;
	height: 500%;
	scale: 0.2;
}
.mailster-homepage-preview .mailster-homepage-preview-browser iframe {
	width: 100%;
	height: 100%;
}
.mailster-homepage-preview .action-buttons {
	opacity: 0;
	position: relative;
	top: 45%;
	left: 50%;
	translate: -50%;
	display: inline-block;
	transition: opacity 0.1s ease-in-out;
	z-index: 1;
}
.mailster-homepage-preview .action-buttons a {
	color: #fff;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	padding: 15px 12px;
	text-align: center;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	background: #1d2327;
	background: rgba(0, 0, 0, 0.7);
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}
.mailster-homepage-preview:hover .action-buttons {
	opacity: 1;
}
.mailster-homepage-preview:hover .action-buttons a:hover {
	background: rgba(0, 0, 0, 1);
}
.mailster-homepage-preview svg {
	display: block;
	z-index: 2;
}

.templates {
	display: flex;
	flex-wrap: wrap;
}
.templates .template {
	box-sizing: border-box;
	width: 33%;
	box-sizing: border-box;
}
.mailster-template-previews {
	display: flex;
	gap: 8px;
}

.mailster-template-preview {
	position: relative;
	left: 0;
	width: 250px;
	height: 400px;
	transform-origin: top left;
	border: 1px solid #c3c4c4;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	margin-bottom: 8px;
	padding: 20px;
	padding-bottom: 0;
	background-color: #f6f6fc;

	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	filter: grayscale(50%);
}
.loading .mailster-template-preview {
	background-color: #ededed;
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		#ededed;
	background-size: 200% 100%;
	background-position-x: 180%;
	animation: 1s skeleton-loading ease-in-out infinite;
}
.mailster-template-preview .mailster-template-preview-browser {
	width: 330%;
	height: 333%;
	pointer-events: none;
	scale: 0.3;
	transform-origin: top left;
	overflow: hidden;
}
.mailster-template-preview .mailster-template-preview-browser iframe {
	width: 100%;
	height: 100%;
}
.mailster-template-preview:hover,
.template.active .mailster-template-preview {
	filter: grayscale(0%);
	border: 1px solid #2bb3e7;
	box-shadow: 0 1px 15px rgba(43, 179, 231, 0.65);
}

#mailster-setup .subscribe iframe {
	margin-left: -5px;
	margin-right: -5px;
	width: 100%;
	height: 300px;
}
@keyframes skeleton-loading {
	to {
		background-position-x: -20%;
	}
}
