@media only screen and (max-width: 600px){
	.theme-browser .theme {
		width: 100%;
		margin-right: 0;
	}
}
.wrap .theme-browser .notice {
	margin: 0;
}
.wrap > .notice.inline {
	display: none;
}
.browse-installed .wrap > .notice.inline.theme-notice-installed,
.browse-free .wrap > .notice.inline.theme-notice-free,
.browse-updated .wrap > .notice.inline.theme-notice-updated,
.browse-popular .wrap > .notice.inline.theme-notice-popular {
	display: block;
}
.browse-installed .wp-filter .search-form {
	display: none;
}
.wp-filter .search-form select, .wp-filter .search-form .wp-filter-search {
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
}
.wp-filter .search-form .search-submit{
	display: none;
}
.theme-browser .theme .theme-screenshot {
	height: 400px;
}
.theme-browser .theme .theme-screenshot img {
	pointer-events: none;
}
.theme-count:empty{
	visibility: hidden;
}
.browse-installed .theme-browser .theme-is-installed{
	display: none;
}
.theme-browser .theme.installed .theme-actions .buy{
	display: none;
}
.theme-default-badge{
	border:1px solid;
	font-size: 10px;
	font-weight: normal;
	border-radius: 4px;
	padding: 0.2em 0.4em;
	margin-left:0.6em;
}
.theme-browser .theme .theme-screenshot .theme-screenshot-img, .theme-browser .theme .theme-screenshot .theme-screenshot-iframe {
	position: absolute;
	width: 75%;
	border-radius: 3px;
	transform: translate(-50%, 10%);
	left: 50%;
	transition: transform 0.2s ease-in-out;
	top: 0;
	box-shadow: 0 4px 6px rgba(0,0,0,0.11), 0 1px 3px rgba(0,0,0,0.075);
	pointer-events: none;
}
.theme-browser .theme .theme-screenshot .theme-screenshot-iframe {
	width: 650px;
	height: 1200px;
	transform: translate(-50%, -22%) scale(0.5);
}

.theme-browser .theme .theme-screenshot .theme-screenshot-bg {
	filter: blur(20px);
	transform: scale(2);
	opacity: 0.8;
}

.theme-overlay .screenshot{
	height: 70vh;
	overflow: auto;
}
.theme-overlay .screenshot img{
}
.browse-installed .theme-overlay .screenshot img{
	display: none;
}
.theme-overlay .screenshot iframe{
	position: absolute;
	width: 125%;
	height: 125%;
	transform: scale(0.8);
	transform-origin: top left;
	left: 0
}
.browse-installed .theme-overlay .screenshot iframe{
	display: block;
}
